<p style="color: green"><%= notice %></p>

<%= render @create_cpu %>

<div>
  <%= link_to "Edit this create cpu", edit_create_cpu_path(@create_cpu) %> |
  <%= link_to "Back to create cpus", create_cpus_path %>

  <%= button_to "Destroy this create cpu", @create_cpu, method: :delete %>
</div>
