<p style="color: green"><%= notice %></p>

<%= render @create_computer %>

<div>
  <%= link_to "Edit this create computer", edit_create_computer_path(@create_computer) %> |
  <%= link_to "Back to create computers", create_computers_path %>

  <%= button_to "Destroy this create computer", @create_computer, method: :delete %>
</div>
