<p style="color: green"><%= notice %></p>

<%= render @create_client %>

<div>
  <%= link_to "Edit this create client", edit_create_client_path(@create_client) %> |
  <%= link_to "Back to create clients", create_clients_path %>

  <%= button_to "Destroy this create client", @create_client, method: :delete %>
</div>
