<p style="color: green"><%= notice %></p>

<%= render @create_computer_ram %>

<div>
  <%= link_to "Edit this create computer ram", edit_create_computer_ram_path(@create_computer_ram) %> |
  <%= link_to "Back to create computer rams", create_computer_rams_path %>

  <%= button_to "Destroy this create computer ram", @create_computer_ram, method: :delete %>
</div>
