<p style="color: green"><%= notice %></p>

<%= render @computer_ram %>

<div>
  <%= link_to "Edit this computer ram", edit_computer_ram_path(@computer_ram) %> |
  <%= link_to "Back to computer rams", computer_rams_path %>

  <%= button_to "Destroy this computer ram", @computer_ram, method: :delete %>
</div>
